<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <title>textutils</title>
</head>
<body>
    <h1>Welcome to the text analyazer. Enter your text below</h1>
      <form action='/analyse' method='get'>
          <textarea name='text' style='margin: 0px; width: 721px; height: 93px;'></textarea> <br>
          <input type="checkbox" name="removepunc">remove punchuation<br>
          <input type="checkbox" name="Touppercase">convert to uppercase<br>
          <input type="checkbox" name="Countchar">Countcharacter<br>
          <button type='submit'> Analyze Text</button>
     </form>
</body>


</html>